[mcu Dryer]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_100012000E43323543323320-if00
restart_method: command

# # [output_pin mosfet0]
# # pin: expander:PA0
# # pwm: true
# # cycle_time: 0.010
# # value: 0
# # shutdown_value: 0

[heater_generic Dryer_Heater]
heater_pin:  Dryer:PA0
max_power: 0.80
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: Dryer:PA6
control: pid
pid_Kp: 13.288
pid_Ki: 0.348
pid_Kd: 127.034
min_temp: 5
max_temp: 115

[verify_heater Dryer_Heater]
max_error: 140
check_gain_time: 120
hysteresis: 5
heating_gain: 2

[heater_fan Dryer_Heater_Fan]
pin: Dryer:PA1
max_power: 1.0
shutdown_speed: 1
off_below: 0.2
heater: Dryer_Heater
heater_temp: 60
fan_speed: 0.80

[heater_fan Dryer_Extractor_Fan]
pin:Dryer:PA2
max_power: 1.0
shutdown_speed: 1.0
off_below: 0.2
heater: Dryer_Heater
heater_temp: 80
fan_speed: 1.0

# # [verify_heater Chamber_Heater2]
# # max_error: 120
# # check_gain_time: 90
# # hysteresis: 5
# # heating_gain: 2

# # [heater_fan Chamber_Heater2_Fan]
# # pin: expander:PA3
# # max_power: 1.0
# # shutdown_speed: 1
# # off_below: 0.2
# # heater: Chamber_Heater2
# # heater_temp: 60
# # fan_speed: 1.00

# [output_pin DISABLE_CHAMBER_HEATER]
# pin: expander:PA7

# [temperature_sensor Chamber_Temp]
# sensor_type: NTC 100K MGB18-104F39050L32
# sensor_pin: expander:PA5
# min_temp: 5
# max_temp: 70

[temperature_sensor Dryer]
sensor_type: AHT10
i2c_mcu: Dryer
i2c_bus: i2c1a        # The hardware bus for J2 (PF0/PF1)
i2c_speed: 100000     # Force standard speed (100kHz)
i2c_address: 56


# [temperature_sensor Dryer]
# sensor_type: SHT3X
# # PIN SELECTIONS
# i2c_software_scl_pin: Dryer:PF1
# i2c_software_sda_pin: Dryer:PF0
# # BUS ADDRESS SELECTION
# i2c_address: 68
# #   Default is 56 (0x38). Some AHT10 sensors give the option to use
# #   57 (0x39) by moving a resistor.                       
# # SAMPLING INTERVAL
# #aht10_report_time: 30
# #   Interval in seconds between readings. Default is 30, minimum is 5
# i2c_speed: 100000

# # Status LED lights when klipper connects 
# [static_digital_output onboardLED]
# pins: !expander:PA4

[neopixel Dryer_Heater_Neopixel]
pin: Dryer:PB1
chain_count: 10
color_order: GRB
initial_RED: 0.2
initial_GREEN: 0.2
initial_BLUE: 0.2
initial_WHITE: 0.0



