[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_2B0024001643305645303820-if00
restart_method: command

# [output_pin mosfet0]
# pin: expander:PA0
# pwm: true
# cycle_time: 0.010
# value: 0
# shutdown_value: 0

[heater_generic Chamber_Heater]
gcode_id: CH
heater_pin:  expander:PA0
max_power: 0.80
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: expander:PA6
control: pid
pid_Kp: 22.654
pid_Ki: 1.228
pid_Kd: 104.480
min_temp: 5
max_temp: 105

[verify_heater Chamber_Heater]
max_error: 120
check_gain_time: 90
hysteresis: 5
heating_gain: 2

[heater_fan Chamber_Heater_Fan]
pin: expander:PA1
max_power: 1.0
shutdown_speed: 1
off_below: 0.2
heater: Chamber_Heater
heater_temp: 60
fan_speed: 1.00

# [heater_generic Chamber_Heater2]
# heater_pin:  expander:PA2
# max_power: 0.80
# sensor_type: NTC 100K MGB18-104F39050L32
# sensor_pin: expander:PA5
# control: pid
# pid_Kp: 22.654
# pid_Ki: 1.228
# pid_Kd: 104.480
# min_temp: 5
# max_temp: 105

# [verify_heater Chamber_Heater2]
# max_error: 120
# check_gain_time: 90
# hysteresis: 5
# heating_gain: 2

# [heater_fan Chamber_Heater2_Fan]
# pin: expander:PA3
# max_power: 1.0
# shutdown_speed: 1
# off_below: 0.2
# heater: Chamber_Heater2
# heater_temp: 60
# fan_speed: 1.00

[output_pin DISABLE_CHAMBER_HEATER]
pin: expander:PA7

[temperature_sensor Chamber_Temp]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: expander:PA5
min_temp: 5
max_temp: 70

# [temperature_sensor Chamber_Temp2]
# sensor_type: AHT10
# i2c_mcu: expander
# i2c_bus: i2c1a
# i2c_address: 56
# aht10_report_time: 30

[temperature_sensor Chamber_Temp2]
sensor_type: AHT10
# PIN SELECTIONS
i2c_software_scl_pin: expander:PF1
i2c_software_sda_pin: expander:PF0
# BUS ADDRESS SELECTION
i2c_address: 56
#   Default is 56 (0x38). Some AHT10 sensors give the option to use
#   57 (0x39) by moving a resistor.                       
# SAMPLING INTERVAL
aht10_report_time: 30
#   Interval in seconds between readings. Default is 30, minimum is 5

# Status LED lights when klipper connects 
[static_digital_output onboardLED]
pins: !expander:PA4

[neopixel Chamber_Heater_Neopixel]
pin: expander:PB1
chain_count: 4
color_order: GRB
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0



